## Terraform local state / caches
*.tfstate
*.tfstate.*
*.backup
*.tfvars
*.tfvars.json
*.tfplan
terraform/tfplan
terraform/tfplan.json
.terraform.lock.hcl
**/.terraform/

## CloudFormation packaging artifacts
packaged-template.yaml

## Taskcat run outputs
taskcat_outputs/
.taskcat_outputs/

## Node.js dependencies & coverage
node_modules/
**/node_modules/
coverage/
**/coverage/

## Misc tooling noise
*.log
